* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
#map {
  height: 94vh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  min-height: 49px;
  background: url(../src/assets/topo-bg-5-black.png);
  background-color: #94722e;
}

.navbar-links-container {
  margin-right: 50px;
  margin-left: 50px;
}

.navbar-links-container a {
  margin-right: 1rem;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}

.navbar-links-container a.active {
  font-weight: bold;
  color: rgb(255, 255, 255) !important;
}

.navbar-links-container a:hover {
  background-color: #f3ecec;
  color: black !important;
}

.navbar-menu-container {
  display: none;
}

.home-banner-container {
  position: relative;
  display: flex;
}
.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  flex: 1;
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.primary-heading {
  font-size: clamp(1rem, 2.5vw, 3rem);
  color: #4c4c4c;
  font-weight: bold;
  /* line-height: 5rem; */
  max-width: 600px;
}
.primary-text {
  font-size: clamp(1rem, 1vw, 1.5rem);
  max-width: 500px;
  color: #797979;
  margin: 1.5rem 0rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #ffc40d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: black;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.secondary-button:hover {
  background-color: #e48f0f;
}

.trip-text-section {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 94vh;
}

.trip-details-container:hover {
  background-color: rgb(239, 238, 238);
  width: 100%;
}

.trip-details-container.active {
  background-color: rgb(239, 238, 238);
}

.trip-details {
  width: 100%;
  flex-direction: column-reverse;
  display: flex;
  height: 100%;
  overflow: auto;
}
.trip-details-container {
  width: 100%;
  display: flex;
  height: 100%; /* Set the height to 100% to fill the entire parent */
}

.trip-details-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.trip-details-body {
  width: 100%;
}

.line-circle {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.circle {
  position: absolute;
  top: 13px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  min-height: 15px;
  min-width: 15px;
}

.line-div {
  height: 100%;
  width: 5px;
  min-height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.route-name {
  font-size: 14px;
  font-weight: bold;
}
.date {
  color: gray;
  font-size: small;
  margin-top: 1px;
  margin-left: 3px;
}

.flex {
  display: flex;
}

.statuses {
  width: 90%;
}

.custom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  z-index: 10;
}
.thumb {
  object-fit: cover;
  width: 104px;
  height: 104px;
  margin: 2px;
  border-radius: 10px;
}
.column {
  flex: 1;
  margin-right: 40px; /* Adjust as needed */
}
.label {
  font-size: clamp(0.7rem, 1vw, 1.5rem);
  color: #797979;
  margin-bottom: 0;
}
.value {
  font-size: clamp(1rem, 2vw, 3rem);
  color: #4c4c4c;
  font-weight: bold;
}

.bottom-right-button:hover {
  background-color: #e48f0f;
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}

.legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}

.legend-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.legend-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

/* Add more styling as needed */
